// variables.scss
:root {
  --header-color: #1b1c1d;
}

// Colors
$logo-color: #38dbfb;
$text-color: #8dd0dd;
$header-color: #1b1c1d;
$footer-color: #202942;
$footer-h-color: #f8f9fa;
$footer-p-color: #adb5bd;
$bg-color: rgba(
  $color: #fff,
  $alpha: 0.15
);
// Layout
$header-height: 6.4rem;
$logo-width: 12rem;
$icon-size: 2.2rem;
$d-menu-width: 8rem;
$dropitem-width: 10rem;
$h-menu-width: 62rem;
$QRcode-width: 9.6rem;
$footer-h-size: 1.6rem;
$footer-p-size: 1.4rem;
$footer-logo-size: 2rem;
$footer-li-height: 2.4rem;
$minWidth: 36rem;
// Media
$media-max-header: 767px;
$media-max-content: 1060px;
// hover的shadow
$card-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) !important;
$tag-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.15);
$big-shadow:
  0 0 10px #ddd,
  0 0 20px #ddd,
  0 0 40px #ddd,
  0 0 80px #ddd,
  0 0 120px #ddd;
